.categories__list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;
  width: 160px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.categories__link {
  display: block;
  padding-top: 180px;
  color: inherit;
  text-decoration: none;
}

.categories__title {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.categories__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: var(--basic-yellow);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.categories__link--vr {
  padding-left: 1px;
}

.categories__link--bracelets .categories__title {
  letter-spacing: 0;
}

.categories__link--vr::before {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.categories__link--monopods::before {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 26px;
}

.categories__link--camera::before {
  background-image: url("../img/popular-3.svg");
  background-position: 44px 36px;
}

.categories__link--bracelets::before {
  background-image: url("../img/popular-4.svg");
}

.categories__link--clocks::before {
  background-image: url("../img/popular-5.svg");
}

.categories__link--quadrocopters::before {
  background-image: url("../img/popular-6.svg");
}
