.categories {
  margin-bottom: 184px;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;
  width: 160px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.categories__svg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;

  background-color: var(--special-yellow);
  box-shadow: 0 3px 7px -1px var(--basic-grey);
}

.categories__svg {
  fill: #363636;
}

.categories__link:hover .categories__svg-wrap {
  background-color: var(--special-yellow-dark);
}

.categories__link:active .categories__svg {
  fill: #b89a30;
}

.categories__link:active .categories__svg-wrap {
  background-color: var(--special-yellow-dark);
}

.categories__link:active .categories__title {
  opacity: 0.3;
}

.categories__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.categories__title {
  margin: 0;
  padding-top: 38px;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.categories__link--vr {
  padding-left: 1px;
}

.categories__link--bracelets .categories__title {
  letter-spacing: 0;
}
