.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.contacts__title {
  position: relative;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 17px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  &::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: var(--basic-black);
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.contacts__map {
  position: relative;
}

.contacts__map-img {
  position: absolute;
  margin: 0;
  z-index: -1;
}

.contacts__link {
  @include button-style;
  position: relative;

  display: inline-block;
  margin-top: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 260px;

  text-align: center;

  &:hover::before {
    top: 0;
    height: 40px;
    transition: var(--basic-transition);
  }

  &:active {
    color: #a88a20;
  }
}

.contacts__link::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: var(--special-yellow-dark);
}
