.main-nav__logo-link {
  position: relative;
  top: -20px;
  left: 0;
}

.main-nav__user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: -5px;
  margin-bottom: 29px;
  padding: 0;
}

.main-nav__site-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
