.services {
  margin-bottom: 90px;
  background-color: var(--basic-grey-light);
}

.services__wrap {
  position: relative;
  top: -100px;
  left: 0;

  display: flex;
  width: 1160px;
  margin: auto;
}

.services__button-list {
  position: relative;
  flex-shrink: 0;
  width: 284px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 25px;

  list-style: none;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;

    width: 7px;
    height: 320px;

    background-color: var(--basic-black);
  }
}

.services__button {
  @include button-style;
  min-width: 160px;
  margin-bottom: 21px;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus::before,
  &:hover::before {
    top: 0;
    height: 40px;
    transition: var(--basic-transition);
  }

  &:focus,
  &:active {
    width: 100%;
    text-align: left;
    padding-left: 38px;
    color: var(--basic-yellow);
    transition: width 0.25 ease-in-out;
  }

  &:focus::before,
  &:active::before {
    background-color: var(--basic-black);
  }
}

.services__button--current {
  width: 100%;
  text-align: left;
  padding-left: 38px;
  color: var(--basic-yellow);

  &::before {
    top: 0;
    height: 40px;
    background-color: var(--basic-black);
  }
}

.services__slider-list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: right 8px top 48px;
}

.services__slider-item {
  display: none;
}

.services__slider-item--current {
  display: block;
}

.services__title {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
  text-shadow: 0 3px 4px var(--basic-half-grey);
}

.services__text {
  margin: 0;
  width: 540px;

  font-family: "Open Sans", "Arail", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-shadow: 0 1px 10px var(--basic-half-grey);
}
