.site-list {
  list-style: none;
  flex-grow: 1;
}

.site-list__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.site-list__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  color: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--basic-transition);

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    transition: none;
  }
}

.site-list__item--contacts {
  margin-left: auto;
  margin-right: -5px;
}
