.user-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.user-list__link {
  display: block;
  padding-left: 24px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  color: inherit;
  text-decoration: none;
  transition: var(--basic-transition);

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    transition: none;
  }
}

.user-list__item {
  position: relative;

  margin-left: 41px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-left: 0;
  }
}

.user-list__item--authorization {
  // margin-right: auto;
  width: 282px;
}

.user-list__svg {
  position: absolute;
  content: "";
  top: 50%;
  left: 1px;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;
}

.user-list__item--cart .user-list__svg {
  top: 49%;
  left: 3px;
}
