:root {
  --basic-yellow: #f7e296;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --basic-transition: all 0.25s ease-in-out;
}

body {
  min-width: 320px;
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);

  background-color: var(--basic-white);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
